<form class="panel" style="padding-right: 1%"[formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <label>
    Date:
    <input type="date" class="form-control" formControlName="date">
  </label>
  <label>
    Fiber (mg):
    <input type="number" formControlName="fiber">
  </label>
  <label>
    Fat (mg):
    <input type="number" formControlName="fat">
  </label>
  <label>
    Carbs (mg):
    <input type="number" formControlName="carbs">
  </label>
  <label>
    Calories Eaten:
    <input type="number" formControlName="calories">
  </label>
  <label>
    Activity Description:
    <textarea type="text" rows="5" cols="40" formControlName="activitydesc">
    </textarea>
  </label>
  <label>
    Calories Burned
    <input type="number" formControlName="activitycal">
  </label>

  <label>
    Symptoms:
    <textarea type="text" rows="5" cols="40" formControlName="symptomdesc">
    </textarea>
  </label>

  <label>
    Glucose Level:
    <input type="number" formControlName="glucose">
  </label>
  <div class="button-block">
    <button type="submit" [disabled]="!patientForm.valid">
	    Submit
    </button>
  </div>
</form>

